@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right, #F1D8C9, #f2c3a7);
}

main{
    background-color: aliceblue;
    width: 600px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.137);
    padding: 10px;
    margin: auto;
}

h1{
    color: #f39209;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(85, 76, 69);
}

h2{
    color: #125189;
}

p{
    text-align: justify;
}